
.saveCommitToolbar {
  margin-top: .5em;
}

.optionTitle {
  font-size: 1em;
}

.messageBox {
  color: red;
}

.editor {
  width: 100%;
  height: 100%;
}

.binaryEditEmbedControl {
  margin-left: 1em;
}


/* vi: se ts=2 sw=2 et: */
