
:root {
  font-family: sans-serif, ui-sans-serif, system-ui;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-color-fg: rgba(255, 255, 255, 0.87);
  --main-color-bg: #242424;
  --main-color-disable-fg: rgba(255, 255, 255, 0.6);
  --processes-height: 20em;
  --control-content-margin: 1.2em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    --main-color-fg: #213547;
    --main-color-bg: #ffffff;
    --main-color-disable-fg: color-mix(in oklab, var(--main-color-fg) 80%, var(--main-color-bg));
  }
}
/* vi: se ts=2 sw=2 et: */
